ctr_train.csv.gz
ctr_test.csv.gz
ctr_sample_submission.csv.gz

ctr_train.csv
ctr_test.csv
ctr_sample_submission.csv

taskone/ctr_train
taskone/ctr_test
taskone/ctr_sample_submission

tasktwo/data/images.gz
tasktwo/data/test.tar.gz 
tasktwo/data/train.tar.gz

tasktwo/data/images
tasktwo/data/test
tasktwo/data/train
tasktwo/data/train_folder
tasktwo/data/test_folder

myenv